@font-face {
  font-family: "Thunder";
  src: url("./fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

/* Tipos de format() */

/*
opentype format (otf)
truetype format (ttf)
embedded-opentype
truetype-att (Apple Advanced Typography)
svg
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

/* HEADER */
header {
  background-color: green;
  height: 8vw;
}

header div#yellow {
  position: relative;
  background-color: #ff9900;
  height: 100%;
  width: 20%;
}

header a button#whatsapp {
  float: right;
  display: block;
  width: 14vw;
  height: 5vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
  font-size: 1.8vw;
  text-transform: uppercase;
  color: green;

  margin-top: 1.5vw;
  margin-right: 9vw;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
  &:hover {
    color: green;
    background-color: #ff9900;
    font-size: 2vw;

    width: 15vw;
    height: 5.5vw;

    margin-top: 1.2vw;
    margin-right: 8.5vw;
  }
}

/* MAIN */
main {
  height: 40vw;
  margin: 0;
  padding: 0;
}

main img#casa {
    float: left;
    margin-left: 10%;
    display: inline-block;
    position: relative;
    bottom: 10%;
    
    width: 35%;
    border: 4px solid green;
}

main aside {
    float: right;
    margin-top: 3vw;
    margin-right: 3vw;

    text-align: center;
    width: 48vw;
    height: 20vw;
}

main aside h1 {
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 2.3vw;
}

main aside p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.7vw;
}

main aside span {
    color: green;
}

main aside a button {
    position: relative;
    top: 3vw;
    
    font-family: "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder;
    
    width: 25vw;
    height: 4vw;
    
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
        color: green;
        background-color: #ff9900;
        font-size: 1.7vw;
        border-radius: 150px;
        width: 28vw;
        height: 5vw;
        top: 2.5vw;
    }
}

main aside img#seta {
    transform: rotate(90deg);
    width: 10vw;
    position: absolute;
    top: 35vw;
    right: 21vw;
    cursor: pointer;
}

/* Seção: Você quer realizar o sonho da casa própria? */
div img#sonho {
    width: 100%;
    margin-bottom: -0.82vw;
}

div h2#imoveis {
    text-align: center;
    color: green;
    background-color: #ff9900;
    background: linear-gradient(180deg, #ff7b00, #ffc400);
    margin: 0px auto;
    font-family: "Thunder";
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 8vw;
    height: 6.1vw;
    padding-top: 2.5vw;
}

/* Seção: Casas à venda */
div.casas {
    position: relative; /* previe o aside de subir */
    padding: 2vw 0 2vw 0;
}

section.info {
    padding-left: 7vw;
    height: 25vw;
}

section.info h2 {
    font-size: 2.5vw;
    margin-bottom: 3vw;
}

section.info li {
    font-size: 1.4vw;
    margin-bottom: 1.4vw;
    width: 45%;
}

aside img.principal {
    float: right;
    position: relative;
    top: -24vw;
    
    width: 25%;
    border: 4px solid green;
    border-radius: 5vw 0 0 5vw;
    border-right: 22vw solid green;
    cursor: zoom-in;
}

aside button.verMaisFotos {
    float: right;
    position: absolute;
    right: 4vw;
    top: 11vw;
    color: green;
    border: 0px;
    padding: 1.8vw;
    font-size: 1.5vw;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
        background-color: #ff9900;
        font-size: 1.8vw;
        right: 3vw;
        top: 6.5;
    }
}

/*  Formulário */
.body {
    background-color: #121212;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    background-color: green;

}

#divForm {
    background-color: green;
    border-radius: 20px;
}

#form {
    border-right: solid 0.7vw white;
    border-left: solid 0.7vw white;
    background-color: #ff9900;
    background-color: green;
    padding: 3vw 3vw 0 3vw;
}

#tituloForm {
    text-align: center;
    color: white;
    cursor: default;
    font-size: 2vw;
    padding: 2vw;
}

#subTituloForm {
    text-align: center;
    font-size: 1.4vw;
    
    color: green;
    background-color: white;
    cursor: default;
}

#subTituloForm p {
    padding-top: 1vw;
}

fieldset {
    border: none;
    font-weight: 600;
    color: white;
    width: 100%;
    font-size: 1.2vw;
}

input {
    border-radius: 5px;
    width: 90%;
    border: solid 2px #ff9900;
    height: 3vw;
    color: green;
    text-indent: 5%;
    letter-spacing: 1px;
    outline: none;
    
    font-size: 1vw;
}

#nome {
    margin-top: 30px;
}

#duvida {
  height: 6vw;
  text-indent: 5%;
}

#enviar {
  width: 10vw;
  height: 4vw;

  margin-left: 4vw;
  margin-bottom: 2vw;
  margin-top: 15px;

  color: white;
  background-color: #ff9900;
  border: none;
  cursor: pointer;
  font-size: 2vw;
  text-transform: uppercase;
  text-indent: -1px;
  transition: 0.5s;
  &:hover {
    font-size: 2.1vw;
  }
}

/* Rodapé */

footer {
  background-color: green;
  height: 5vw;
}

footer #linkInstagram {
    position: relative;
    left: 35vw;
    top: 2vw;
  text-decoration: none;
  border: none;
  background-color: #ff9900;
  background-color: white;
  color: black;
  color: white;
  color: #1c9821;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  display: inline-block;
  width: 25vw;
  height: 3vw;
  font-size: 1.2vw;
  &:hover {
    width: 26vw;
    font-size: 1.3vw;
    #logoInstagram {
      width: 1.7vw;
      top: 0.3vw;
    }
  }
}

footer #logoInstagram {
  width: 1.5vw;
  position: relative;
  top: 0.2vw;
  left: 0.6vw;
  &:hover {
    width: 1.6vw;
    top: 0.3vw;
  }
}
